<header>
  <div class="logo"> 
    <a href="/"><img class="frog" src="/images/frog-solid.svg" alt="Travel Experts Frog logo"></a>
    <h1><a href="/">Travel Experts</a></h1>
  </div>
  <nav>
    <button class="toggle-btn">
      <img class="toggle-svg" src="/images/bars-solid.svg" alt="hamburger menu or 3 solid bars">	
    </button>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#destinations">Destinations</a></li>
        <li><a href="/#contact-us">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign-Up</a></li>
      </ul>
    </div>
  </nav>
</header>